body {

 background-color: #1e1e1e;
}

h1{
  color:#123446;
}

h2{
  color:white;
}

p{
  color:white;
}



#boxplot1 {
height: 30vh !important; 
 height: 30vh;
  margin-left: 120px !important;
  margin-right: 120px !important;
}

#boxplot2 {
background-color: #1e1e1e;
width: 40%;
height: 50vh;
margin-bottom: 150px !important;
}

#boxplot3 {
background-color: #1e1e1e;
  margin-left: 60px !important;
  margin-right: 60px !important;
height: 50vh;
margin-bottom: 150px !important;
margin-top: -180px !important;
}


.nav-pills a {
    color: #ffffff
}

.nav-pills a:hover {
    color: #ffc434;
    border-radius: 0px;
}

.nav-pills .active a:hover {
    color: #ffc434;
    border-radius: 0px;
}
.nav>li>a:hover, 
.nav>li>a:focus {
    color: #ffc434;
    border-radius: 0px;
}
.nav-pills .nav-link.active {
    color: #fff;
    background-color: #ffc434;
}