body {

 background-color: #cccccc;
}

h1{
  color:#123446;
}

h2{
  color:white;
}

p{
  color:white;
}

.user-select-none{
  margin-bottom: 500px !important;
}

#boxplot1 {

 height: 50vh

}

#boxplot2 {
 
width: 40%;
height: 50vh;
  
}

